/*
laranja: rgb(246,94,0);
cinza-azulado: rgb(13,31,41);
azul-escuro: rgb(1, 17, 23);
*/

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing:border-box;
}
html {
    margin:0;
    padding:0;
    box-sizing:border-box; 
}

.top mark {
    color: rgb(246,94,0);
    text-transform: lowercase;
    background-color: rgb(255,255,255);
}

.top {
    display: flex;
    flex-direction: row;
}

section, .divisoria nav {
    width:900px;
    margin: auto;
}

.top figure {
    position:relative;
    width:500px;
}

.top article {
    width: 300px;  
}

.top figcaption {
    position: absolute;
    top: 0;
    left: 200px;
    background: rgb(13,31,41);
    color: rgb(246,94,0);
    padding: 5px;
    font-size: 0.7em;
    font-weight: bold;
    border-radius: 5px;
}

.phone {
    color: #fff;    
}
.divisoria {
    width: 100%;
    background: rgb(13,31,41);
}

.divisoria ul {
    display: flex;
    flex-direction:row;
    padding-left: 0;
    list-style: none;
}
.divisoria li {
    padding:10px 20px; 
}
.divisoria li:first-child, .divisoria li:hover {
    background-color: rgb(246,94,0);
    
}

.divisoria a {
    text-decoration: none;  
    color: #fff;
}

main section {
    display: flex;
    flex-direction: row;
}

.box {
    width: 400px;
    border-style:solid;
    border-width: 0.3em;
    border-color: rgb(154, 154, 154);
}

.box figure {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    position: relative;
}

.box figcaption{
    position:absolute;
    bottom:-5px;
    width:100%;
    padding:5px 5px 15px;
    text-align: center;
    background: rgba(0,0,0,0.8); 
    color: #fff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 55% 75%, 50% 100%, 45% 75%, 0% 75%);
}

.box img {
    width:100%;
}

.box p {
    font-size:0.8em;

}

.box button {
    font-size: 1em;
    width: 6em;
    height: 2em;
    background-color:rgb(246,94,0);
    display: flex;
    margin-right: 1em;
    margin-left: auto;
    margin-bottom: 1em;
    border-radius: 7%;
    border: none;
    color:#fff;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

footer {
    background-color: rgb(13,31,41);
    color: #fff;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
}

.areascobertas{
    width: 400px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.cidades ul {
    list-style: none;
    padding: 0;
}

.contato input, textarea {
    background: rgb(1, 17, 23);
    width: 350px;
}

.contato input, textarea, button {
    border-radius: 5px;
    display: flex;
    border: none;
    margin: 5px;
    color: white;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

.capitais {
    background-color: rgb(1, 17, 23);
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 15px;
    padding: 5px;
    height: 100px;
    gap: 20px;
}

.espaço {
    width: 3px;
    height: 200px;
    background-color: rgb(1, 17, 23);
    margin-top: 40px;
}

button{
    background-color: rgb(246,94,0);
    margin-left: auto;
    margin-right: 1.5em;
}