body{
    background-color: rgb(29, 1, 54);
    margin: 0;
    padding: 0;
}

body h1{
    margin-top: 0;
}

.a{
    color: rgb(9, 139, 46);
}

.centralizado{
    text-align: center;
}

#dov{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.x{
    font-size: 2rem;
    color: rgb(9, 139, 46);
}

.invisivel{
    color: rgb(66, 11, 118);
}

ul{
    list-style: none;
}

ul .oi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul a{
    text-decoration: none;
}

aside{
    border: rgb(9, 139, 46) solid 3px;
    margin-right: 40px;
    border-radius: 20px;
    margin-bottom: 60px;
}

article{
    background-color: rgb(66, 11, 118);
}

.grande{
    font-size: 35px;
}

.menu li:hover{
    border: rgb(9, 139, 46) solid 3px;
    border-radius: 25px;
    transition: border .2s ease-in-out;
}

.menu li{
    padding: 10px 15px;
}

.menu .outros .oi .primeiro{
    margin-bottom: 20px;
}

.outros .oi .res{
    margin-left: 90px;
}

footer{
    margin: 0;
    padding: 0;
    background-color: rgb(66, 11, 118);
}

footer p{
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(9, 139, 46);
    font-size: 25px;
}