body {
    margin:0;
}
header {
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
}


header h1, header p, header a{
    color:#fff;
    text-align: center;
}

header h1 {
    margin:0;
    padding-top: 50px;
}

.menu { 
    width: 700px;
    margin: auto;
}
.menu ul {
    display: flex;
    justify-content: space-between;    
    margin-top:80px;
    list-style: none;
}
.menu li {
    padding: 10px 15px;
}
.menu a {
    text-decoration: none;
}

.menu li:first-child, .menu li:hover{
    border: #fff solid 1px;
    border-radius: 25px;
    transition: border .2s ease-in-out;
}

.branco {
    display: flex;
    flex-direction: row;
}

article img{
    width: 100%;
}

main h3{
    font-size: 30px;
    color: rgb(90, 89, 89);
}

aside{
    margin-right: 30px;
    margin-left: 70px;
    margin-top: 40px;
}

aside h4{
    font-size: 16px;
    color: rgb(93, 92, 92)
}

aside p{
    font-size: 14px;
}

.dia-post{
    font-size: 12px;
    color: rgb(159, 158, 158);
}

.post{
    margin-top: 2em;
    margin-bottom: 3em;
}

.post img{
    margin-right: 10px;
}

.cinza{
    background-color: rgb(232, 228, 228);
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.box{
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 70px;
    margin-right: 40px;
    position: relative;
    justify-content: space-between;
}

.box h4{
    color: rgb(93, 92, 92)
}

.box img{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.box p{
    margin-bottom: 50px;
}

.botao{
    border: #ed5808 solid 1px;
    border-radius: 25px;
    padding: 10px 20px;
    color: #fff;
    background-color: #ed5808;
    text-decoration: none;
}

footer{
    padding: 0;
    margin: 0;
    padding-right: 50px;
    padding-left: 7px;
    background-color: rgb(9, 9, 11);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h3{
    font-size: 30px;
}

footer p{
    color: aliceblue;
    position: relative;
    left: 15%;
}

footer a{
    color: darkgrey;
    text-decoration: none;
}

footer ul{
    list-style: none;
}