* {
    margin: 0;
    padding: 0;
    user-select: none;
}

 html {
    background-image: url(Fundo\ Cave\ Azuis.jpg);
    background-size: cover;
    background-position: center;
 }

 h1 {
    background-color: rgb(248, 167, 5);
    color: white;
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Times, serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}

.topo p {
    background-color: rgb(248, 167, 5);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
}

.elementos img{
    height: 200px;
    width: 250px;
    border-radius: 5%;
}

.elementos {
    width: 250px;
    height: 420px;
    background-color:rgb(248, 175, 5);
    margin-top: 100px;
    border-radius: 5%;
}

.elementos .nome {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Times, serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.elementos .texto {
    display: flex;
    justify-content: center;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
} 

.geral {
    display: flex;
    justify-content: space-around;
}

.elementos {
    transition: transform 1s;
    transform: translateX(0) scale(1);
    border-radius: 1%;
    margin-bottom: 7px;
  }
  
  .elementos:hover,
  .elementos:focus {
    background: rgb(248, 187, 5);
    transform: scale(1.035);
  }